.progressBar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.progressBarFill {
    height: 20px;
    width: 0%;
    background-color: #4caf50;
    border-radius: inherit;
    transition: width 0.5s ease-in-out;
}

.progressBarText {
    text-align: center;
    color: white;
    font-weight: bold;
}